<%= render 'shared/userheader' %>
		<div class="content login-box">
			<div class="login-main">
				<div class="wrap" style="border-top: 1px solid #EEE;">
					<ul class="product-head">
						<li><a href="index.html">主 页</a> <span>::</span></li>
						<li class="active-page"><a href="#">历史资料</a></li>
						<div class="clear"> </div>
					</ul>
					<h1>历史资料</h1>
					<div class="register-grids">
						<form> 
								<div class="register-top-grid">										
										<div class="clear"> </div>
								</div>
								<div class="clear"> </div>
								<div class="register-bottom-grid">
										<h3>近期订单信息：</h3>
										

											<table class="table table-striped table-bordered table-hover">
												<thead style="background-color: #eee;">
													<tr style="height:30px;">
														<th><h5>图片<h5></th>
														<th><h5>品牌<h5></th>
														<th><h5>款式编码<h5></th>
														<th><h5>颜色<h5></th>	
														<th><h5>面料<h5></th>
														<th><h5>价格<h5></th>
														<th><h5>尺码<h5></th>
														<th><h5>数量<h5></th>
														<th><h5>状态<h5></th>
													</tr>
												</thead>
<tbody id="myTableProduct">	
	<% @carts.each do |f| %>
	<% f.cart_items.each do |a| %>
		<% size_count = a.size_groups.size %>
		<tr>
			<td rowspan="<%= size_count %>" style="width:15%; height:60px;">
			<%= image_tag a.buyer.pictures.last.image.url(:thumb) %>
			</td>
			<td rowspan="<%= size_count %>"><%= a.buyer.ppname %></td>
			<td rowspan="<%= size_count %>"><%= a.buyer.styleid %></td>	
			<td rowspan="<%= size_count %>"><%= a.color %></td>
			<td rowspan="<%= size_count %>"><%= a.buyer.fabric %></td>
			<td rowspan="<%= size_count %>"><%= a.buyer.price %></td>
			<% @one = a.size_groups.first %>
			<td><%=  @one.sizecode %></td>
			<td style="width:10%;"><%=  @one.count %></td>
			<td rowspan="<%= size_count %>">
      <%= '<span style="display: inline;font-size: 75%;font-weight: bold;color: #fff;" class="label label-sm label-info">提交未审核</span>'.html_safe if f.flag == 1 %>
      <%= '<span style="display: inline;font-size: 75%;font-weight: bold;color: #fff;" class="label label-sm label-success">提交未审核</span>'.html_safe if f.flag == 2 %>
	    </td>
		</tr>
		<% digit = 1 %>
		<% while digit < a.size_groups.size do %>
		<tr>
		<% @list = a.size_groups[digit] %>
			<td><%= @list.sizecode %></td>
			<td style="width:10%;"><%=  @list.count %></td>
		</tr>
		<% digit += 1 %>
		<% end %>
		<tr>
			<td colspan="9" style="color:red; height:30px; ">款式合计：<%= a.size_groups.sum(:count) %></td>
		</tr>
	<% end %>
	<% end %>
</tbody>
								</table>

							</div>		
							</div>
										<div class="clear"> </div>
								</div>
								<div class="clear"> </div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<%= render 'shared/userfooter' %>