<%= render 'shared/userheader' %>
		<div class="img-slider">
			<div class="wrap" style="border-top: 1px solid #EEE;">
			<ul id="jquery-demo">
			<% @viewimages.each do |v| %>
			  <li>
			      <%= image_tag v.image.url, alt: '' %>
			    <div class="slider-detils">
			    	<h3><%= v.title %></h3>
			    	<span><%= v.content %></span>
			    	<a class="slide-btn" href="#"> 马上选购</a>
			    </div>
			  </li>
			  <% end %>
			</ul>
			</div>
		</div>
		<div class="clear"> </div>
		<!--//End-image-slider-->
		<!-- start-price-rage -->
		<div class="wrap">
			<div class="price-rage">
				<h6>新款上市:</h6>
				<div id="slider-range">
				</div>
			</div>
		</div>
		<!-- //End-price-rage-->
		<!-- start-content -->
		<div class="content">
			<div class="wrap">

				<div class="content-right">
					<div class="product-grids">
						<!--- start-rate-->
							<script src="uservendor/js/jstarbox.js"></script>
							<link rel="stylesheet" href="uservendor/css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
							<script type="text/javascript">
								jQuery(function() {
									jQuery('.starbox').each(function() {
										var starbox = jQuery(this);
										starbox.starbox({
											average: starbox.attr('data-start-value'),
											changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
											ghosting: starbox.hasClass('ghosting'),
											autoUpdateAverage: starbox.hasClass('autoupdate'),
											buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
											stars: starbox.attr('data-star-count') || 5
										}).bind('starbox-value-changed', function(event, value) {
											if(starbox.hasClass('random')) {
												var val = Math.random();
												starbox.next().text(' '+val);
												return val;
											} 
										})
									});
								});
							</script>
							<!---//End-rate---->
							<!---caption-script---->
							<!---//caption-script---->
  					<% @reception_index.each do|f|%>
  					  <%if f.flag==1%>
						<div onclick="location.href='＃';" class="product-grid fade <%= "last-grid".html_safe if @reception_index[2]== f ||@reception_index[5] == f %> "  >
							<!-- <div class="product-grid-head">
								<ul class="grid-social">
									<li><a class="facebook" href="#"><span> </span></a></li>
									<li><a class="twitter" href="#"><span> </span></a></li>
									<li><a class="googlep" href="#"><span> </span></a></li>
									<div class="clear"> </div>
								</ul>
								<div class="block">
									<div class="starbox small ghosting"> </div> <span> (46)</span>
								</div>
							</div> -->
							<div class="product-pic">
								<a href="#"><%= image_tag f.pictures.first.image.url(:thumbmid)  %></a>
								<p>
								<a href="#"><%=f.ppname%><small> <%=f.fabric%></small> <small><%=f.styleid%></small></a>
								<span>Men's Firm-Ground Football Boot</span>
								</p>
							</div>
							<div class="product-info">
								<div class="product-info-cust">
									<%=link_to "详情", buyer: f.id, action:'detail' %>
								</div>
								<div class="product-info-price">
									¥ <%= f.price %>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="more-product-info">
								<span> </span>
							</div>
						</div>
						<% end %>
						<% end %>
                <!--  	<div onclick="location.href='details.html';"  class="product-grid fade">
							<div class="product-grid-head">
								<ul class="grid-social">
									<li><a class="facebook" href="#"><span> </span></a></li>
									<li><a class="twitter" href="#"><span> </span></a></li>
									<li><a class="googlep" href="#"><span> </span></a></li>
									<div class="clear"> </div>
								</ul>
								<div class="block">
									<div class="starbox small ghosting"> </div> <span> (46)</span>
								</div>
							</div>
							<div class="product-pic">
								<a href="#"><img src="uservendor/images/product1.jpg" title="product-name" /></a>
								<p>
								<a href="#"><small>奥诗伯恩</small> 春季新款 <small>运动鞋</small> FG</a>
								<span>Men's Firm-Ground Football Boot</span>
								</p>
							</div>
							<div class="product-info">
								<div class="product-info-cust">
									<a href="details.html">
									快速添加
									</a>
								</div>
								<div class="product-info-price">
									<a href="details.html">¥ 375</a>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="more-product-info">
								<span> </span>
							</div>
						</div>
						<div onclick="location.href='details.html';"  class="product-grid fade last-grid">
							<div class="product-grid-head">
								<ul class="grid-social">
									<li><a class="facebook" href="#"><span> </span></a></li>
									<li><a class="twitter" href="#"><span> </span></a></li>
									<li><a class="googlep" href="#"><span> </span></a></li>
									<div class="clear"> </div>
								</ul>
								<div class="block">
									<div class="starbox small ghosting"> </div> <span> (46)</span>
								</div>
							</div>
							<div class="product-pic">
								<a href="#"><img src="uservendor/images/product3.jpg" title="product-name" /></a>
								<p>
								<a href="#"><small>艾丽尚</small> 秋季新款 <small>女高跟鞋</small> FG</a>
								<span>Men's Firm-Ground Football Boot</span>
								</p>
							</div>
							<div class="product-info">
								<div class="product-info-cust">
									<a href="details.html">选购</a>
								</div>
								<div class="product-info-price">
									<a href="details.html">¥ 350</a>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="more-product-info">
								<span> </span>
							</div>
						</div>
						<div onclick="location.href='details.html';"  class="product-grid fade">
							<div class="product-grid-head">
								<ul class="grid-social">
									<li><a class="facebook" href="#"><span> </span></a></li>
									<li><a class="twitter" href="#"><span> </span></a></li>
									<li><a class="googlep" href="#"><span> </span></a></li>
									<div class="clear"> </div>
								</ul>
								<div class="block">
									<div class="starbox small ghosting"> </div> <span> (46)</span>
								</div>
							</div>
							<div class="product-pic">
								<a href="#"><img src="uservendor/images/product4.jpg" title="product-name" /></a>
								<p>
								<a href="#"><small>蜘蛛王</small> 春季新款 <small>高档皮鞋</small> FG</a>
								<span>Men's Firm-Ground Football Boot</span>
								</p>
							</div>
							<div class="product-info">
								<div class="product-info-cust">
									<a href="details.html">选购</a>
								</div>
								<div class="product-info-price">
									<a href="details.html">¥ 370</a>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="more-product-info">
								<span> </span>
							</div>
						</div>
						<div onclick="location.href='details.html';"  class="product-grid fade">
							<div class="product-grid-head">
								<ul class="grid-social">
									<li><a class="facebook" href="#"><span> </span></a></li>
									<li><a class="twitter" href="#"><span> </span></a></li>
									<li><a class="googlep" href="#"><span> </span></a></li>
									<div class="clear"> </div>
								</ul>
								<div class="block">
									<div class="starbox small ghosting"> </div> <span> (46)</span>
								</div>
							</div>
							<div class="product-pic">
								<a href="#"><img src="uservendor/images/product5.jpg" title="product-name" /></a>
								<p>
								<a href="#"><small>艾乐尚</small> 冬季新款 <small>雪地靴</small> FG</a>
								<span>Men's Firm-Ground Football Boot</span>
								</p>
							</div>
							<div class="product-info">
								<div class="product-info-cust">
									<a href="details.html">选购</a>
								</div>
								<div class="product-info-price">
									<a href="details.html">¥ 355</a>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="more-product-info">
								<span> </span>
							</div>
						</div>
						<div onclick="location.href='details.html';"  class="product-grid fade last-grid">
							<div class="product-grid-head">
								<ul class="grid-social">
									<li><a class="facebook" href="#"><span> </span></a></li>
									<li><a class="twitter" href="#"><span> </span></a></li>
									<li><a class="googlep" href="#"><span> </span></a></li>
									<div class="clear"> </div>
								</ul>
								<div class="block">
									<div class="starbox small ghosting"> </div> <span> (46)</span>
								</div>
							</div>
							<div class="product-pic">
								<a href="#"><img src="uservendor/images/product6.jpg" title="product-name" /></a>
								<p>
								<a href="#"><small>皮尔卡丹</small> 商务 <small>高档皮鞋</small> FG</a>
								<span>Men's Firm-Ground Football Boot</span>
								</p>
							</div>
							<div class="product-info">
								<div class="product-info-cust">
									<a href="details.html">选购</a>
								</div>
								<div class="product-info-price">
									<a href="details.html">¥ 390</a>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="more-product-info">
								<span> </span>
							</div>
						</div> -->
						<div class="clear"> </div>
					</div>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<!---- start-bottom-grids---->
		<div class="bottom-grids">
			<div class="bottom-bottom-grids">
				<div class="wrap">
					<div class="bottom-bottom-grid">
						<h6>金佰川网站</h6>
						<p>海纳百川、鞋行天下，欢迎进入金佰川集团网站。</p>
						<a class="learn-more" href="#">点击进入网站</a>
					</div>
					<div class="bottom-bottom-grid">
						<h6>金佰川BBS</h6>
						<p>传播时尚理念，缔造精彩生活。</p>
						<a class="learn-more" href="#">点击进入BBS</a>
					</div>
					<div class="bottom-bottom-grid last-bottom-bottom-grid">
						<h6>金佰川拇指店</h6>
						<p>手机买鞋，拇指动一动，潮鞋立马带回家</p>
						<a class="learn-more" href="#">扫扫二维码</a>
					</div>
					<div class="clear"> </div>
				</div>
			</div>
		</div>
		<!---- //End-bottom-grids---->
		<!--- //End-content---->
<%= render 'shared/userfooter' %>
		<!---//End-wrap---->
