

<!-- Form area -->
<div class="admin-form">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <!-- Widget starts -->
            <div class="widget worange">
              <!-- Widget head -->
              <div class="widget-head">
                <i class="icon-lock"></i> Login 
              </div>

              <div class="widget-content">
                <div class="padd">
                  <!-- Login form -->
                  <%= form_tag "/create_login_session", class: "form-horizontal" do %>
                    <!-- Email -->
                    <div class="form-group">
                      <label class="control-label col-lg-3" for="inputEmail">Email</label>
                      <div class="col-lg-9">
                        <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "输入电子邮件" %>
                      </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                      <label class="control-label col-lg-3" for="inputPassword">Password</label>
                      <div class="col-lg-9">
                        <%= password_field_tag :password, params[:password], class: "form-control", placeholder: "输入登陆密码" %>
                      </div>
                    </div>
                    <!-- Remember me checkbox and sign in button -->
                    <div class="form-group">
					<div class="col-lg-9 col-lg-offset-3">
                      <div class="checkbox">
                        <label>
                          <%= check_box_tag :remember_me, 1, params[:remember_me] %>
                          <%= label_tag "记住我" %>
                        </label>
						</div>
					</div>
					</div>
                        <div class="col-lg-9 col-lg-offset-2">
							<%= submit_tag "登陆", :class => "btn btn-danger" %>
							<button type="reset" class="btn btn-default">重设</button>
						</div>
                    <br />
                  <% end %>
				  
				</div>
                </div>
              
                <div class="widget-foot">
                  没有账号 ？请联系<a href="mailto:zhangyincai@jimbshoes.com?subject=我要开通EIP系统">管理员</a>
                </div>
            </div>  
      </div>
    </div>
  </div> 
</div>
	
		

<!-- JS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>