<% @nav = 'welcome' %>
<!-- Main bar -->
<%= render 'shared/header'  %>

<div class="mainbar">
  
<%= render 'shared/content_header' %>



  <!-- Matter -->

  <div class="matter">
    <div class="container">

      <!-- Dashboard Graph starts -->

      <div class="row">

        <div class="col-md-4">

          <div class="widget">

            <div class="widget-head">
              <div class="pull-left">统计</div>
              <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                <a href="#" class="wclose"><i class="icon-remove"></i></a>
              </div>  
              <div class="clearfix"></div>
            </div>             

            <div class="widget-content">
              <div class="padd">

                <!-- Visitors, pageview, bounce rate, etc., Sparklines plugin used -->
                <ul class="current-status">
                  <li>
                    <span id="status1"></span> <span class="bold">现有货品 : <span class="label label-primary"><%= @buyer_count %></span></span>
                  </li>
                  <li>
                    <span id="status2"></span> <span class="bold">最新货品 : <span class="label label-success"><%= @new_count %></span></span>
                  </li>                                                                                                      
                </ul>

              </div>
            </div>

          </div>

        </div>
      </div>
      <!-- Dashboard graph ends -->





    </div>
  </div>

<!-- Matter ends -->

</div>
    <div class="clearfix"></div>

</div>
<!-- Mainbar ends -->
<%= render partial: "shared/footer" %>
