<% @nav = 'phone_upload' %>
<%= render 'shared/header' %>
<!-- Main bar -->
<div class="mainbar">

<%= render 'shared/content_header' %>


<!-- Matter -->

<div class="matter">
<div class="container">
  <div class="row">
        <div class="col-xs-12">
          <!-- PAGE CONTENT BEGINS -->

          <div class="alert alert-info">
            <i class="icon-hand-right"></i>

            请上传4张图片，尽量包含全视角
          </div>
        </div>
        <div class="col-sm-9">
          <div id="dropzone">
            <%= form_for @buyer, html: {class: "dropzone", multipart: 'true'} do |f| %>
            <div class="fallback">
              <%= f.hidden_field :user_id %>
              <%= file_field_tag :attachment %>
            </div>
          </div><!-- PAGE CONTENT ENDS -->
        </div>
          <!-- Chosen选择 --> 
                          <div>
                          <br />
          
                            <div class="col-sm-3">
                              <span class="bigger-110">面料</span>
                              <%= select_tag "fabric", "<option value='皮革'>皮革</option>
                                <option value='布艺'>布艺</option>".html_safe, class: 'width-80 chosen-select', data: { placeholder: 'Choose a Country...' } %>
                              
                              </div>

                             
                            <div class="col-sm-3">
                              <span class="bigger-110">颜色</span>
                              <%= select_tag "color", "<option value='黑色'>黑色</option>
                                <option value='天蓝'>天蓝</option><option value='白'>白</option>".html_safe, multiple: true, class: "width-80 chosen-select", data: {placeholder:  "选择颜色"} %>
                              
                              </div><!-- /span -->
                              
                               <!-- 选择结束 -->
                              
                              <div class="col-sm-3">
                              <br />
                              <%= f.submit "提交", class: "btn btn-success" %>
                              </div>
           <% end %>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div>
  </div>

<!-- Matter ends -->
    
    <!--[if !IE]> -->

    <script src="http://ajax.useso.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- <![endif]-->

    <!--[if IE]>
    <script src="http://ajax.useso.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <![endif]-->


    <script type="text/javascript">
      if("ontouchend" in document) document.write("<script src='js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>
    <!-- page specific plugin scripts -->
    <script src="js/chosen.jquery.min.js"></script>
    <script src="js/dropzone.min.js"></script>

    <!-- inline scripts related to this page -->

    <script type="text/javascript">
      jQuery(function($){
      
      try {
        $(".dropzone").dropzone({
          paramName: "file", // The name that will be used to transfer the file
          maxFilesize: 0.5, // MB
        
        addRemoveLinks : true,
        dictDefaultMessage :
        '<span class="bigger-150 bolder"><i class="icon-caret-right red"></i> 将图片拖动到此处</span>上传 \
        <span class="smaller-80 grey">(或 “点击”)</span> <br /> \
        <i class="upload-icon icon-cloud-upload blue icon-3x"></i>'
      ,
        dictResponseError: 'Error while uploading file!',
        
        //change the previewTemplate to use Bootstrap progress bars
        previewTemplate: "<div class=\"dz-preview dz-file-preview\">\n  <div class=\"dz-details\">\n    <div class=\"dz-filename\"><span data-dz-name></span></div>\n    <div class=\"dz-size\" data-dz-size></div>\n    <img data-dz-thumbnail />\n  </div>\n  <div class=\"progress progress-small progress-striped active\"><div class=\"progress-bar progress-bar-success\" data-dz-uploadprogress></div></div>\n  <div class=\"dz-success-mark\"><span></span></div>\n </div>"
        });
      } catch(e) {
        alert('Dropzone.js does not support older browsers!');
      }
      
      });
        $(".chosen-select").chosen(); 
        $('#chosen-multiple-style').on('click', function(e){
          var target = $(e.target).find('input[type=radio]');
        });
    </script>

<%= render partial: "shared/footer" %>
